<!DOCTYPE html>
<html>
        <!-- Head -->
        <%- include ('./partials/head')%>
    <body>
        <!-- Header -->
        <%- include ('./partials/header') %> 
        <section class="main-image">
            <img src="images/main-image.jpg" alt="main-image">
        </section>
        <main>
            <section class="last-collection">
                <h3>Ultima colección</h3>
                <div class="products">
                    <% for (let i = 0; i < catalogo.length; i++) {
                        if(catalogo[i].ultima_coleccion == true){ %>
                            <article>
                            <a href="/product-detail/<%= catalogo[i].id %>"><img src="/images/productsImages/<%= catalogo[i].img1 %>" alt="product" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-hamsa"></i>
                                <p class="price"> $ <%= catalogo[i].precio %></p>
                                <% if (catalogo[i].oferta > 0) { %>
                                    <p class='sale'> <%= catalogo[i].oferta %>% off</p>
                                    <% } %>
                                <h4 class="description"><%= catalogo[i].titulo %></h4>
                            </div>
                        </article>
                       <% } %>               
                        <% } %>

            <section class="sale" id='ofertas'>
                <h3>Ofertas</h3>
                <div class="products">

                    <% for (let i = 0; i < catalogo.length; i++) {
                        if(catalogo[i].oferta > 0){ %>
                            <article>
                            <a href="/product-detail/<%= catalogo[i].id %>"><img src="/images/productsImages/<%= catalogo[i].img1 %>" alt="product" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-hamsa"></i>
                                <p class="price"> $ <%= catalogo[i].precio %></p>
                                <p class='sale'> <%= catalogo[i].oferta %>% off</p>
                                <h4 class="description"><%= catalogo[i].titulo %></h4>
                            </div>
                        </article>
                       <% } %>               
                        <% } %>

                   
                </div>  
            </section>
        </main>
        <!-- Footer -->
        <%- include('./partials/footer')%>      
    </body>
</html>