<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ('./partials/head',{title: productFind.name , style:'productDetailStyles.css'}) %>
<body>
    <!-- Header -->
    <%- include ('./partials/header') %>

    <main >
      <div class="product-detail">
        <section class="product-images">
            <div class="product-images">
                <a href="/images/productsImages/<%= productFind.image_1%>"><img class="main-picture" src="/images/productsImages/<%= productFind.image_1 %>" alt="img"></a>
                <div class="img-box">
                    <a href="/images/productsImages/<%= productFind.image_2 %>"><img class="img-inbox" src="/images/productsImages/<%= productFind.image_2 %>" alt="img"></a>
                    <a href="/images/productsImages/<%= productFind.image_3 %>"><img class="img-inbox" src="/images/productsImages/<%= productFind.image_3 %>" alt="img"></a>
                    <a href="/images/productsImages/<%= productFind.image_4 %>"><img class="img-inbox" src="/images/productsImages/<%= productFind.image_4 %>" alt="img"></a>
                </div>
            </div>
        </section>
        <section class="product-description">
            <div class="product-description">
                <h1 class="product-name"><%= productFind.name %></h1>
                <h4 class=coleccion><%= productFind.categories.name %></h4>
                <p class="price"> $ <%= productFind.price %> </p>

                <% if (productFind.discount > 0) { %>
                    <p class='sale'> <%= productFind.discount %>% off</p>
                    <% } %>

                <a href="/images/tabla-talles.jpg">ver tabla de talles</a>
                <form action=# method="get">
                <!-- <div class="color">
                    <label for="color"> Color: </label>
                    <div class='color-button'>             
                            <input class="color" type="button" name="color" value=ColorRojo>
                            <img class="color" src="/images/colors/ColorRojo.jpg" atl="color">      
                        
                    </div>
                </div> -->
                <!-- <div class="size">
                    <label for="talle"> Talle: </label>
                    <div class="size-button"></div>           
                            <input class="size" type="button" name="talle" value=5>       
                        
                    </div>
                -->
                <label for="amount"> Cantidad</label>
                <input class="amount" name="amount" id="amount" type="number" value="1">

                <h9>Agregar al carrito</h9>
                <button class= "add" type="submit" name="send">Agregar</button>
                                
                </form>
                <% if (locals.isLogged && locals.admin) { %>
                <div class="buttons-container">
                    <div class="edit-button">
                        <a class= "edit-button" id="edit-button" href="/products/<%=productFind.id%>/edit">Editar</a>
                    </div>
                    <form class="buttons-container" id="form-delete" action="/products/<%=productFind.id%>/delete?_method=DELETE" method="POST">
                    <button class= "delete-button" type="submit">Eliminar</button>
                    </form>      
                </div>
                <% } %>
            </div>
            
        </section>
        </div> 
        <div class="description" id="description">
            <h4>Descripción</h4>
            <p><%= productFind.descriptions %></p>
        </div>
         
    </main>
    
    <!-- Footer -->
    <%- include('./partials/footer')%>
    <script src="/js/productDetial.js"></script>
</body>
</html>