<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ('./partials/head')%>
<body>
    <!-- Header -->
    <%- include ('./partials/header') %>

    <main >
      <div class="product-detail">
        <section class="product-images">
            <div class="product-images">
                <a href="/images/productsImages/<%= prenda.img1 %>"><img class="main-picture" src="/images/productsImages/<%= prenda.img1 %>" alt="img"></a>
                <div class="img-box">
                    <a href="/images/productsImages/<%= prenda.img2 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img2 %>" alt="img"></a>
                    <a href="/images/productsImages/<%= prenda.img3 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img3 %>" alt="img"></a>
                    <a href="/images/productsImages/<%= prenda.img4 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img4 %>" alt="img"></a>
                </div>
            </div>
        </section>
        <section class="product-description">
            <div class="product-description">
                <h1 class="product-name"><%= prenda.titulo %></h1>
                <p class="price"> $ <%= prenda.precio %> </p>

                <% if (prenda.oferta > 0) { %>
                    <p class='sale'> <%= prenda.oferta %>% off</p>
                    <% } %>

                <a href="/images/tabla-talles.jpg">ver tabla de talles</a>
                <form action=# method="get">
                <div class="color">
                    <label for="color"> Color: </label>
                    <div class='color-button'>
                        <% for (let i = 0; i < prenda.color.length; i++) { %>             
                            <input class="color" type="button" name="color" value=<%=prenda.color[i]%>>
                            <img class="color" src="/images/colors/<%= prenda.color_archivo[i]%>" atl="color">      
                        <% } %>
                    </div>
                </div>
                <div class="size">
                    <label for="talle"> Talle: </label>
                    <div class="size-button"></div>
                    <% for (let i = 0; i < prenda.talle.length; i++) { %>             
                            <input class="size" type="button" name="talle" value=<%=prenda.talle[i]%>>       
                        <% } %>
                    </div>

                    <p>¡Casi es tuyo!</p>
                <input class="amount" type="number" value="1">
                <button class= "add" type="submit" name="send">Comprar</button>
            </div>
                
                </form>
                    
            </div>
        </section>
        </div> 
        <div class="description" id="description">
            <h4>Descripción</h4>
            <p><%= prenda.descripcion %></p>
        </div>
         
    </main>
    
    <!-- Footer -->
    <%- include('./partials/footer')%>
</body>
</html>