<!DOCTYPE html>
<html lang="en">

<head>
    <!--Head-->
    <%- include ('./partials/head',{title:'CarritodeCompra', style:'productCartstyles.css'}) %>
</head>

<body>
    <!--Header-->
    <%- include ('./partials/header')%>

        <main>
            <form action="#" method="POST">
                <div class="shop">
                    <div class=titulo-container>
                        <h3>Carrito de Compras</h3>
                    </div>


                    <article class="product-detail">
                        <div class="product-images">
                            <a href="images/productsImages/<%=prenda.img1%>"><img class="main-picture"
                                    src="/images/productsImages/<%= prenda.img1 %>" alt="img"></a>
                        </div>
                        <div class="product-description">
                            <h1 class="product-name">
                                <%= prenda.titulo %>
                            </h1>
                            <p class="price"> $ <%= prenda.precio %>
                            </p>
                            <% if (prenda.oferta> 0) { %>
                                <p class='sale'>
                                    <%= prenda.oferta %>% off
                                </p>
                                <% } %>
                                    <p class="color">
                                        <%= prenda.color %>
                                    </p>
                                    <p class="talle">
                                        <%= prenda.talle %>
                                    </p>
                                    <p class="cantidad">
                                        <%= prenda.cantidad %>
                                    </p>
                        </div>
                        <div class=button-container>
                            <button class="delete-button" type="submit"><i
                                    class="fas fa-trash-alt icon-trash"></i></button>
                        </div>
                    </article>
                </div>
                <div class="Cierroelcarrito">
                    <button type="submit">ver mas</button>
                    <button type="submit">Finalizar</button>
                </div>
            </form>

        </main>

        <!--Footer-->
        <%- include('./partials/footer')%>

</body>

</html>