<!DOCTYPE html>
<html>

<!-- Head -->
<%- include ('./partials/head',{title:'Tienda de Yoga', style:'indexStyles.css'}) %>
 
 <body>
        <!-- Header -->
        <%- include ('./partials/header') %> 
        <main>
            <section class="every-collections">
                <h3 class="section-title">Catalogo</h3>
                <div class="products">
                    <% for (let i = 0; i < products.length; i++) {%>
                            <article>
                            <a class="article" href="/products/product-detail/<%= products[i].id %>">
                            <img src="/images/productsImages/<%= products[i].image_1 %>" alt="product" class="product_img">
                            <div class="main-article">
                                <i class="fas fa-hamsa"></i>
                                <p class="price"> $ <%= products[i].price %></p>
                                <% if (products[i].discount > 0) { %>
                                    <p class='sale'> <%= products[i].discount %>% off</p>
                                    <% } %>
                                <h4 class="description"><%= products[i].name %></h4>
                            </div>
                            </a>
                        </article>
                       <% } %>   
                </div>            
            </section >
        </main>
        <!-- Footer -->
        <%- include('./partials/footer')%>      
</body>