<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ('./partials/head',{title:'Registra tu usuario', style:'registerStyles.css'}) %>
<body>
    <!-- Header -->
    <%- include ('./partials/header') %> 

    <main>

        <section class="formSection"> 

        <h2 id="tittle-h2" class="text">REGISTRATE / <a href="/login" class="login">INGRESA</a> </h2>
   
        <form class="form" id="form" action="/user/register" method="POST" enctype="multipart/form-data">
            <div id="registerForms">
                <label for="fullname">Nombre y apellido</label>
                <input type="text" class="box" id="name"   name="fullname" placeholder="Nombres" value="<%= locals.oldData ? oldData.fullname : null%>">
                    <div class="errorsfullname">
                        <ul></ul>
                    </div>
                    <% if (locals.errors && errors.fullname) { %>
                        <div class="errorsfullname">
                            <ul>
                                <li>
                                    <%= errors.fullname.msg%>
                                </li>
                            </ul>
                        </div>
                    <% } %>
                <input type="text" class="box" id="dni"   name="dni" placeholder="D.N.I" value="<%= locals.oldData ? oldData.dni : null%>">
                    <div class="errorsdni">
                        <ul></ul>
                    </div>
                    <% if (locals.errors && errors.dni) { %>
                        <div class="errorsdni">
                            <ul>
                                <li>
                                    <%= errors.dni.msg%>
                                </li>
                            </ul>
                        </div>
                    <% } %>
                <label for="address">Direccion</label>
                <input type="text" class="box" id="address"   name="address" placeholder="Direccion" value="<%= locals.oldData ? oldData.address : null%>">
                    <div class="errorsaddress">
                        <ul></ul>
                    </div>
                    <% if (locals.errors && errors.address) { %>
                        <div class="errorsaddress">
                            <ul>
                                <li>
                                    <%= errors.address.msg%>
                                </li>
                            </ul>
                        </div>
                    <% } %>
            </div>

            <h4 class="text">Perfil del usuario</h4>
            <select name="user_category_id" id="category" class="select-input" required>
                <option value="1">
                    Usuario
                </option>
                <option value="2">
                    Administrador
                </option>
            </select>

            <h4 class="text">DATOS DE ACCESO</h4>
            <label for="email">Correo electronico</label>
            <input type="text" class="box" name="email" id="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : null%>">
                <div class="errorsemail">
                    <ul></ul>
                </div>
                <% if (locals.errors && errors.email) { %>
                <div class="errorsemail">
                    <ul>
                        <li>
                            <%= errors.email.msg%>
                        </li>
                    </ul>
                </div>
                <% } %>

            <label for="password">Contraseña</label>
            <input type="password"  name="password"  class="box"  id="password">
                <div class="errorspassword">
                    <ul></ul>
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="errorspassword">
                        <ul>
                            <li>
                                <%= errors.password.msg%>
                            </li>
                        </ul>
                    </div>
                <% } %>

            <label for="password2">Repita la Contraseña</label>
            <input type="password"  name="password2"  class="box"  id="passwordconfirm">
                <% if (locals.errors && errors.password2) { %>
                    <div class="errorspassword">
                        <ul>
                            <li>
                                <%= errors.password2.msg%>
                            </li>
                        </ul>
                    </div>
                <% } %>
            <label for="image" class="file-input">FOTO DE PERFIL</label>
            <input type="file" name="image" id="image" class="box">
                <div class="errorsimage">
                    <ul></ul>
                </div>
                <% if (locals.errors && errors.image) { %>
                    <div class="errorsimage">
                        <ul>
                            <li>
                                <%= errors.image.msg %>  
                            </li>
                        </ul>
                    </div>
                <% } %>
            <div class="tc">
                <label for="tyc">
                    <input type="checkbox"  name="tyc"  id="tyc"    value="Accepted">Acepto terminos y condiciones
                    <div class="errorstyc">
                        <ul></ul>
                    </div>
                </label>
                <% if (locals.errors && errors.tyc) { %>
                    <div class="errorstyc">
                        <ul>
                            <li>
                                <%= errors.tyc.msg%>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div> 

            <div class="button">
            <button type="submit">Registrar</button>
            </div>

        </form>

        </section>  

        <section class="imgSection">       
        <!-- <img id="registerImg" src="/images/yogalifebackground.png" alt="ImageYogalife">-->
        </section>  

    </main>

    <!-- Footer -->
    <%- include('./partials/footer')%>       
    <script src='/js/validatorRegister.js'></script>    
</body>
</html>