<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    <%- include ('./partials/head')%>
    <title>Tienda de Yoga | yogalife</title>
    <link rel="stylesheet" href="CSS/shopcartstyles.css">
</head>
<body>
    <!--Header-->
    <%- include ('./partials/header')%>

    <main>     
        <section><h3>Carrito de Compras</h3>
            <article class="shop-detail">
                <div class="product-detail1">
                    <div class="product-description">
                        <h1 class="product-name"><%= prenda.titulo %></h1>
                        <div class="product-images">
                            <a href="/images/productsImages/<%= prenda.img1 %>"><img class="main-picture" src="/images/productsImages/<%= prenda.img1 %>" alt="img"></a>
                            <div class="img-box">
                                <a href="/images/productsImages/<%= prenda.img2 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img2 %>" alt="img"></a>
                                <a href="/images/productsImages/<%= prenda.img3 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img3 %>" alt="img"></a>
                                <a href="/images/productsImages/<%= prenda.img4 %>"><img class="img-inbox" src="/images/productsImages/<%= prenda.img4 %>" alt="img"></a>
                            </div>
                        </div>
                        <p class="price"> $ <%= prenda.precio %> </p>
                        <% if (prenda.oferta > 0) { %>
                            <p class='sale'> <%= prenda.oferta %>% off</p>
                            <% } %>
                        <button type="submit">Editar compra</button>
                    </div>    
                </div>
            </article>                    
                <div class="Cierroelcarrito">
                    <button type="submit">Continuar comprando</button>
                    <button type="submit">Cerrar la compra</button>
                </div>
        </section>            
    </main>

    <!--Footer-->
    <%- include('./partials/footer')%>

</body>
</html>