<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ('./partials/head',{title:'Perfil de Usuario', style:'userProfileStyles.css'}) %>
    <body>
        <!-- Header -->
        <%- include ('./partials/header') %> 

        <main>
        <div class="main-container">
            <div class=main>
                <div class=profile-container>
                    <div class="tittle">
                        <h2 class="tittle">Bienvenido</h2>
                        <h2 class="tittle"><%=user.full_name%></h2>
                    </div>    
                    <div class=avatar-container>
                        <img class="avatar" src="/images/usersImages/<%=user.avatar%>" alt="">
                    </div>
                </div>

                <div class=data-container>
                    <div class=data>
                        <h2 class="data-email">Email Registrado:</h2>
                        <h4 class="data-email"><%=user.email%></h4>
                        <h2 class="data-dni">DNI:</h2>
                        <h4 class="data-dni"><%=user.dni%></h4>
                        <h2 class="data-addres">Direccion:</h2>
                        <h4 class="data-addres"><%=user.address%></h4>
                    </div>
                </div>
            </div>
        </div>
            <div class="button-container">
                <a href="/user/edit">
                    <button class="edit-button" id="edit-button" type="submit">Editar Datos</a>
                </a>
                <a class="logout-container" href="/user/logout">
                <button class="logout-button" id="logout-button" >  Cerrar Sesión  </a>
                </button>
            </div>
        </main>

        <!-- Footer -->
        <%- include('./partials/footer')%>
    </body>
</html>